body,
#root {
  background-color: #F6F8FC;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  display: grid;
  place-items: center;
  font-family: 'Outfit', sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}